In [1]:
import pandas as pd
import numpy as np

In [2]:
dias = pd.date_range(start='20220101', periods=12)
dias

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12'],
              dtype='datetime64[ns]', freq='D')

In [3]:
Pessoa = ['George', 'Victor', 'Lucas']

In [10]:
np.random.choice(Pessoa)

'Lucas'

In [13]:
Nome = []
Gasto = []
for i in range(12):
  Nome.append(np.random.choice(Pessoa))
  Gasto.append(np.round(np.random.rand()*100, 2))

Nome

['George',
 'Lucas',
 'Lucas',
 'Victor',
 'Victor',
 'Lucas',
 'Lucas',
 'Victor',
 'Victor',
 'Victor',
 'Victor',
 'Lucas']

In [14]:
Gasto

[68.3,
 78.6,
 45.73,
 82.69,
 43.45,
 43.92,
 91.07,
 57.43,
 49.89,
 37.13,
 56.55,
 46.52]

In [16]:
df = pd.DataFrame({'Dia':dias, 'Nome':Nome, 'Gasto':Gasto})
df

          Dia    Nome  Gasto
0  2022-01-01  George  68.30
1  2022-01-02   Lucas  78.60
2  2022-01-03   Lucas  45.73
3  2022-01-04  Victor  82.69
4  2022-01-05  Victor  43.45
5  2022-01-06   Lucas  43.92
6  2022-01-07   Lucas  91.07
7  2022-01-08  Victor  57.43
8  2022-01-09  Victor  49.89
9  2022-01-10  Victor  37.13
10 2022-01-11  Victor  56.55
11 2022-01-12   Lucas  46.52

In [17]:
df.pivot(index='Dia', columns='Nome', values='Gasto')

Nome        George  Lucas  Victor
Dia
2022-01-01    68.3    NaN     NaN
2022-01-02     NaN  78.60     NaN
2022-01-03     NaN  45.73     NaN
2022-01-04     NaN    NaN   82.69
2022-01-05     NaN    NaN   43.45
2022-01-06     NaN  43.92     NaN
2022-01-07     NaN  91.07     NaN
2022-01-08     NaN    NaN   57.43
2022-01-09     NaN    NaN   49.89
2022-01-10     NaN    NaN   37.13
2022-01-11     NaN    NaN   56.55
2022-01-12     NaN  46.52     NaN